# ─── Logs ───────────────────────────────────────────────
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ─── Runtime ────────────────────────────────────────────
node_modules/
dist/
dist-ssr/
.build/
.cache/

# ─── Environment Variables ─────────────────────────────
.env
.env.*
!*.example.env

# ─── Local Configs ─────────────────────────────────────
*.local

# ─── IDE & Editor ──────────────────────────────────────
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ─── Optional Uploads ──────────────────────────────────
uploads/
